/*others*/
@font-face
{
    font-family: 'QX-Bariol';
    font-weight: normal;
    font-style: normal;

    src: url('..//fonts/QXBariolRegular.eot');
    src: local('QX Bariol Regular'), local('QXBariolRegular'), url('..//fonts/QXBariolRegular.eot?#iefix') format('embedded-opentype'), url('..//fonts/QXBariolRegular.woff2') format('woff2'), url('..//fonts/QXBariolRegular.woff') format('woff'), url('..//fonts/QXBariolRegular.ttf') format('truetype'), url('..//fonts/QXBariolRegular.svg#QXBariolRegular') format('svg');
}
@font-face
{
    font-family: 'SVN-Servetica-Medium';
    font-weight: 500;
    font-style: normal;

    src: url('..//fonts/SVN-Servetica-Medium.eot');
    src: local('SVN Servetica Medium'), local('SVN-Servetica-Medium'), url('..//fonts/SVN-Servetica-Medium.eot?#iefix') format('embedded-opentype'), url('..//fonts/SVN-Servetica-Medium.woff2') format('woff2'), url('..//fonts/SVN-Servetica-Medium.woff') format('woff'), url('..//fonts/SVN-Servetica-Medium.ttf') format('truetype'), url('..//fonts/SVN-Servetica-Medium.svg#SVN-Servetica-Medium') format('svg');
}
.bzkl-chapter
{
    font-family: QX-Bariol, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Yu Mincho';
    font-size: 20px;
    line-height: 1.25;

    margin: 5em auto;

    text-align: justify;

    color: #333;
}
.bzkl-chapter .chapter-title
{
    font-family: QX-Bariol, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Yu Mincho';
    font-size: 1.5em;
    font-weight: bold;

    margin-bottom: 1em;

    text-align: center;
}
.bzkl-chapter .sections
{
    counter-reset: section;
}
.bzkl-chapter .sections > .section
{
    margin-bottom: 1em;
}
.bzkl-chapter .sections > .section > .main-title,
.bzkl-chapter .sections > .section > .title
{
    display: inline-block;

    margin-bottom: .5em;

    counter-increment: section;
}
.bzkl-chapter .sections > .section > .main-title:before,
.bzkl-chapter .sections > .section > .title:before
{
    display: inline-block;

    text-align: left;
}
.bzkl-chapter .sections > .section > .main-title
{
    font-size: 1.25em;
    font-weight: bold;

    margin-left: 30px;
    padding: 5px;

    border: double 3px #333;
}
.bzkl-chapter .sections > .section > .main-title:before
{
    min-width: 25px;
    margin-right: 13px;
    margin-left: -38px;

    content: counters(section, '.') '.';
}
.bzkl-chapter .sections > .section > .title
{
    margin-left: 30px;
}
.bzkl-chapter .sections > .section > .title:before
{
    min-width: 25px;
    margin-right: 5px;
    margin-left: -30px;
}
.bzkl-chapter .sections > .section > .sections > .section > .title:before
{
    content: counters(section, '.') ' ';
}
.bzkl-chapter .sections .b1:before,
.bzkl-chapter .sections .b2:before,
.bzkl-chapter .sections .b3:before,
.bzkl-chapter .sections .b4:before
{
    text-align: left;
}
.bzkl-chapter .sections .b1:before
{
    font-family: FontAwesome;

    content: '\f044';
}
.bzkl-chapter .sections .b2:before
{
    font-family: FontAwesome;

    content: '\f0da';
}
.bzkl-chapter .sections .b3:before
{
    font-family: FontAwesome;

    content: '\f071';
}
.bzkl-chapter .sections .b4:before
{
    font-family: FontAwesome;

    content: '\f1d9';
}
.bzkl-chapter .sections .mb1
{
    margin-bottom: .5em;
}
.bzkl-chapter .sections .ml1
{
    margin-left: 30px;
}
.bzkl-chapter .sections .ml1:before
{
    display: inline-block;

    min-width: 25px;
    margin-right: 5px;
    margin-left: -30px;
}
.bzkl-chapter .a00,
.bzkl-chapter .a10,
.bzkl-chapter .b00,
.bzkl-chapter .b10
{
    display: inline-block;
}
.bzkl-chapter .a00:hover,
.bzkl-chapter .a10:hover,
.bzkl-chapter .b00:hover,
.bzkl-chapter .b10:hover
{
    cursor: pointer;
}
.bzkl-chapter .a00:hover > .content,
.bzkl-chapter .a10:hover > .content,
.bzkl-chapter .b00:hover > .content,
.bzkl-chapter .b10:hover > .content
{
    color: #fff;
    background-color: #2185d0;
}
.bzkl-chapter .a00 > .more,
.bzkl-chapter .a10 > .more,
.bzkl-chapter .b00 > .more,
.bzkl-chapter .b10 > .more
{
    font-size: 18px;
    font-weight: normal;

    position: absolute;
    z-index: 1;

    display: none;

    max-width: 360px;
    padding: 1em;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: left;

    opacity: 0;
    color: #333;
    border: .1em solid #ebebeb;
    background-color: #fff;
    -webkit-box-shadow: 0 .2em .5em rgba(0, 0, 0, .2);
            box-shadow: 0 .2em .5em rgba(0, 0, 0, .2);
}
.bzkl-chapter .a00 > .more.show,
.bzkl-chapter .a10 > .more.show,
.bzkl-chapter .b00 > .more.show,
.bzkl-chapter .b10 > .more.show
{
    display: block;

    -webkit-animation: fadeIn .1s linear alternate;
         -o-animation: fadeIn .1s linear alternate;
            animation: fadeIn .1s linear alternate;

    opacity: 1;
}
@-webkit-keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@-o-keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.bzkl-chapter .a00 > .more > .arrow,
.bzkl-chapter .a10 > .more > .arrow,
.bzkl-chapter .b00 > .more > .arrow,
.bzkl-chapter .b10 > .more > .arrow,
.bzkl-chapter .a00 > .more > .arrow-border,
.bzkl-chapter .a10 > .more > .arrow-border,
.bzkl-chapter .b00 > .more > .arrow-border,
.bzkl-chapter .b10 > .more > .arrow-border
{
    position: absolute;
    left: 50%;

    width: 0;
    height: 0;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    border-style: solid;
}
.bzkl-chapter .a00 > .more > .arrow,
.bzkl-chapter .a10 > .more > .arrow,
.bzkl-chapter .b00 > .more > .arrow,
.bzkl-chapter .b10 > .more > .arrow
{
    bottom: -1em;

    border-width: .5em .5em;
    border-color: #fff transparent transparent transparent;
}
.bzkl-chapter .a00 > .more > .arrow-border,
.bzkl-chapter .a10 > .more > .arrow-border,
.bzkl-chapter .b00 > .more > .arrow-border,
.bzkl-chapter .b10 > .more > .arrow-border
{
    bottom: -1.1em;

    border-width: .55em .55em;
    border-color: #ebebeb transparent transparent transparent;
}
.bzkl-chapter .a00 > .more > .main,
.bzkl-chapter .a10 > .more > .main,
.bzkl-chapter .b00 > .more > .main,
.bzkl-chapter .b10 > .more > .main
{
    font-weight: bold;

    color: #2185d0;
}
.bzkl-chapter .a00 > .more > .han-viet,
.bzkl-chapter .a10 > .more > .han-viet,
.bzkl-chapter .b00 > .more > .han-viet,
.bzkl-chapter .b10 > .more > .han-viet
{
    color: #a333c8;
}
.bzkl-chapter .a00 > .more > .translit,
.bzkl-chapter .a10 > .more > .translit,
.bzkl-chapter .b00 > .more > .translit,
.bzkl-chapter .b10 > .more > .translit
{
    font-size: 90%;
    font-style: italic;

    color: #767676;
}
.bzkl-chapter .a00 > .more > .mean,
.bzkl-chapter .a10 > .more > .mean,
.bzkl-chapter .b00 > .more > .mean,
.bzkl-chapter .b10 > .more > .mean
{
    color: #21ba45;
}
.bzkl-chapter .text.bold
{
    font-weight: bold;
}
.bzkl-chapter .text.blue
{
    color: #2185d0;
}
.bzkl-chapter .text.orange
{
    color: #f2711c;
}
