@file: 'https://cdn.rawgit.com/k7ae95/bzkl/r001';

@font-family-1: QX-Bariol, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Yu Mincho';
@font-family-2: Arial, Helvetica Neue, Helvetica, sans-serif, 'Yu Mincho';

@default-font-size: 20px;
