<div id="bzkl-chapter" class="bzkl-chapter">
   <!-- bzkl -->
   <style scoped>
      @import "{{file}}/css/bzkl.min.css";
   </style>
   <script src="{{file}}/js/data.min.js"
           type="text/javascript">
   </script>
   <script src="{{file}}/js/bzkl.min.js"
           type="text/javascript">
   </script>

   {{> body}}
</div>
